body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    background: black;
}

.gb {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    height: 10rem;
    width: 10rem;
    border-radius: 100px;
    background: #111827;
    box-shadow: inset 20px 20px 39px #070a10, inset -20px -20px 39px #1b263e;
    position: relative;
    cursor: pointer;
}

.gb::after {
    content: "";
    position: absolute;
    left: -10px;
    top: -10px;
    height: calc(100% + 20px);
    width: calc(100% + 20px);
    background: linear-gradient(35deg, deepskyblue, deeppink, lawngreen);
    border-radius: 50%;
    z-index: -1;
    filter: blur(3px);
}

.gb:hover::after {
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}
